@font-face {
  font-family: "Hind Siliguri sb";
  src: url("fonts/HindSiliguri-SemiBold.eot");
  src: local("Hind Siliguri SemiBold"), local("HindSiliguri-SemiBold"),
    url("fonts/HindSiliguri-SemiBold.eot") format("eot"),
    url("fonts/HindSiliguri-SemiBold.woff2") format("woff2"),
    url("fonts/HindSiliguri-SemiBold.woff") format("woff"),
    url("fonts/HindSiliguri-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Hind Siliguri";
  src: url("fonts/HindSiliguri-Medium.eot");
  src: local("Hind Siliguri Medium"), local("HindSiliguri-Medium"),
    url("fonts/HindSiliguri-Medium.eot") format("eot"),
    url("fonts/HindSiliguri-Medium.woff2") format("woff2"),
    url("fonts/HindSiliguri-Medium.woff") format("woff"),
    url("fonts/HindSiliguri-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
.blocks {
  margin: 50px 230px;
  width: 1140px;
  height: 296px;
}
.left {
  padding-left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 555px;
  height: 296px;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.right {
  padding-left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -298px 0 0 628px;
  width: 555px;
  height: 296px;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.inf {
  width: 249px;
  height: 147px;
}
.sell {
  margin: 0;
  width: 247px;
  height: 27px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #f4f9fc;
}
.name {
  width: 249px;
  font-family: "Hind Siliguri sb";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 40px;
  color: #f4f9fc;
  margin-top: 5px;
  margin-bottom: 7px;
}
.show {
  width: 78px;
  height: 27px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #f4f9fc;
  background: transparent;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  height: 90px;
  padding-left: 230px;
}
nav {
  display: flex;
  flex-direction: row;
}
.navigation {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  padding-top: 33px;
}
.arrowh {
  width: 20px;
  height: 7px;
  padding-top: 7px;
}
.navbar {
  margin: 0;
  white-space: pre;
  text-transform: uppercase;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #030d15;
}
.logo {
  margin: 32px 177px 32px 0;
}
.log_in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 27px;
  margin-left: 117px;
}
.search {
  padding-top: 37px;
}
.basket {
  margin-top: 32px;
}
.user {
  margin-top: 27px;
}
