@font-face {
  font-family: "Hind Siliguri sb";
  src: url("fonts/HindSiliguri-SemiBold.eot");
  src: local("Hind Siliguri SemiBold"), local("HindSiliguri-SemiBold"),
    url("fonts/HindSiliguri-SemiBold.eot") format("eot"),
    url("fonts/HindSiliguri-SemiBold.woff2") format("woff2"),
    url("fonts/HindSiliguri-SemiBold.woff") format("woff"),
    url("fonts/HindSiliguri-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Hind Siliguri";
  src: url("fonts/HindSiliguri-Medium.eot");
  src: local("Hind Siliguri Medium"), local("HindSiliguri-Medium"),
    url("fonts/HindSiliguri-Medium.eot") format("eot"),
    url("fonts/HindSiliguri-Medium.woff2") format("woff2"),
    url("fonts/HindSiliguri-Medium.woff") format("woff"),
    url("fonts/HindSiliguri-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 1080px;
}
.blocks {
  margin: 50px 0 0 230px;
  width: 1140px;
  height: 296px;
}
.left {
  padding-left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 555px;
  height: 296px;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.right {
  padding-left: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -298px 0 0 628px;
  width: 555px;
  height: 296px;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.inf {
  width: 249px;
  height: 147px;
}
.sell {
  margin: 0;
  width: 247px;
  height: 27px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #f4f9fc;
}
.name {
  width: 249px;
  font-family: "Hind Siliguri sb";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 40px;
  color: #f4f9fc;
  margin-top: 5px;
  margin-bottom: 7px;
}
.show {
  width: 78px;
  height: 27px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #f4f9fc;
  background: transparent;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  height: 90px;
  padding-left: 230px;
}
nav {
  display: flex;
  flex-direction: row;
}
.navigation {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  padding-top: 33px;
}
.arrowh {
  width: 20px;
  height: 7px;
  padding-top: 7px;
}
.navbar {
  margin: 0;
  white-space: pre;
  text-transform: uppercase;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #030d15;
}
.logo {
  margin: 32px 177px 32px 0;
}
.log_in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 27px;
  margin-left: 117px;
}
.search {
  padding-top: 37px;
}
.basket {
  margin-top: 32px;
}
.user {
  margin-top: 27px;
}
.main_brands {
  display: flex;
  flex-direction: row;
  margin: 54px 0 0 220px;
}
.left_inf {
  margin: 75px 50px 0 10px;
}
.p_brands {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
  margin-bottom: 3px;
}
.h1_brands {
  margin: 0;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 73px;
  width: 517px;
}
.bg_h1 {
  background: #66bfff;
  color: #247cc0;
}
.p_about {
  width: 515px;
  height: 54px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #030d15;
  opacity: 0.6;
}
.price_brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 36px;
}
.shop_now {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  background: #247cc0;
  width: 151px;
  height: 58px;
  margin-right: 31px;
}
.price {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #030d15;
  margin-right: 18px;
}
.prev_price {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
  padding-top: 4px;
}
.companies {
  padding-left: 118px;
  width: 1100px;
  height: 237px;
  margin: -37px 0 0 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 84px;
  background: #ffffff;
}
.products {
  display: flex;
  flex-direction: row;
  margin: 110px 0 160px 230px;
  height: 270px;
  width: 1133px;
}
.circle_basket {
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  border: 2px solid #f3f3f3;
  border-radius: 22px;
  padding: 13px 12px 12px 10px;
  background: #ffffff;
  margin: -275px 0 0 238px;
}
.column {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 37px;
}
.headphone {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.inf_product {
  margin-top: 30px;
}
.product_name {
  margin: 0;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
}
.product_def {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
  margin: 9px 0 20px 0;
}
.small_price {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.product_pr {
  margin: 0;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #030d15;
}
.product_prevpr {
  margin: 0;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #030d15;
  opacity: 0.5;
}
.del {
  text-decoration-line: line-through;
}
.mark_img {
  margin-top: 15px;
}
.about_product {
  display: flex;
  flex-direction: row;
  margin: 46px 0 0 135px;
}
.inf_about {
  margin: 110px 0 0 130px;
  width: 460px;
}
.abouth1 {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  color: #030d15;
  white-space: nowrap;
  width: 640px;
}
.aboutp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 168px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030d15;
  opacity: 0.6;
  width: 470px;
  margin-bottom: 40px;
  margin-top: 115px;
}
.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #030d15;
  width: 401px;
  margin-bottom: 20px;
}
.check_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: #247cc0;
  margin-right: 13px;
}
.check_circle1 {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 18px;
  border-radius: 9px;
  background: #247cc0;
  margin: 5px 13px 0 0;
}
.center {
  margin: 124px 0 0 633px;
  text-align: center;
}
.navigationbar {
  margin: 22px 0 0 555px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030d15;
  opacity: 0.6;
}
.hovp:hover {
  color: red;
}
.popular_products {
  width: 1140px;
  margin: 50px 0 0 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.pop_product {
  box-sizing: border-box;
  width: 360px;
  height: 503px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sell {
  margin: 35px 0 0 33px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
}
.popname {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
  margin-left: 35px;
}
.under {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 78px;
}
.colors {
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#margin {
  margin: 0;
}
.inform {
  margin-left: 35px;
}
.grey {
  width: 14px;
  height: 14px;
  background-color: #c3d7e6;
  border-radius: 7px;
}
.black {
  width: 14px;
  height: 14px;
  background-color: #15151d;
  border-radius: 7px;
}
.blue {
  width: 14px;
  height: 14px;
  background-color: #2f80ed;
  border-radius: 7px;
}
.colorhov:hover {
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 15px;
  padding: 2px;
  box-sizing: border-box;
  border: 1px solid #000;
}
.mouse {
  margin-left: 37px;
}
.smallcol {
  margin: 12px 59px 34px 59px;
}
.keyboard {
  margin: 50px 48px 88px 48px;
}
.macbook {
  margin: 0 17px 3px 17px;
}
.headpop {
  margin: 0 42px 54px 43px;
}
.kopter {
  margin: 49px 47px 76px 47px;
}
#marg {
  margin-left: 280px;
}
.shop {
  width: 1140px;
  height: 1014px;
  margin: 130px 230px;
}
.shop_head {
  margin-left: 250px;
}
.shop_p {
  margin-left: 92px;
  height: 48px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030d15;
  opacity: 0.6;
  width: 457px;
  margin-bottom: 50px;
  text-align: center;
}
.pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: 1140px;
}
.col_el {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 816px;
}
.element {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user_contact {
  margin: 100px 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1140px;
  align-items: center;
}
.contact_inf {
  width: 360px;
  height: 110px;
}
.conth1 {
  width: 345px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
  margin-bottom: 8px;
}
.contp {
  width: 360px;
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
}
.contact_in {
  width: 460px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
.cont_input {
  box-sizing: border-box;
  margin: 0;
  width: 335px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.input_button {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  margin: 0;
  background: #247cc0;
  color: #fff;
  width: 122px;
  height: 50px;
  border: 0;
  text-transform: uppercase;
}
footer {
  width: 1600px;
  height: 396px;
  background: #030d15;
}
.foot_inform {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Hind Siliguri";
  color: #ffffff;
  margin-left: 230px;
}
.footh1 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.footer_p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  opacity: 0.6;
}
.width {
  width: 260px;
}
.footlogo {
  width: 297px;
  height: 158px;
  margin: 80px 32px 139px 0;
}
.foot_inf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 265px;
  width: 165px;
  gap: 15px;
  margin: 75px 31px 0 0;
}
.about_store {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 265px;
  width: 165px;
  gap: 15px;
  margin-top: 75px;
}
.socials {
  margin-bottom: 26px;
}
